salesforce/force-app/main/default/flows/Chess_Coach_Routing_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Routes the conversation to the selected service agent.</description>
        <name>Route_to_agent</name>
        <label>Route to Service Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9g8000000ytHlCAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00Gg8000003sCbxEAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Default Queue Agentforce Contact Center</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <stringValue>0Xxg8000000mw8DCAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value>
                <stringValue>Chess Coach</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>digitalWorkerId</name>
        </inputParameters>
        <inputParameters>
            <name>digitalWorkerLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>single</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Chess_Coach_Routing_v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chess_Coach_Routing_v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <description>Passes the customer’s locale to the service agent to determine what language to use.</description>
        <name>Update_messaging_session</name>
        <label>Process Customer’s Locale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chess_FEN__c</field>
            <value>
                <elementReference>Chess_FEN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Move_Count__c</field>
            <value>
                <elementReference>Chess_Move_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_PGN__c</field>
            <value>
                <elementReference>Chess_PGN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Status__c</field>
            <value>
                <elementReference>Chess_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Turn__c</field>
            <value>
                <elementReference>Chess_Turn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUserLanguage</field>
            <value>
                <elementReference>end_user_language</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <description>Link the verified end user to their Contact so the agent can read @MessagingEndUser.ContactId. MessagingSession.EndUserContactId is not updateable, but MessagingEndUser.ContactId is — and the agent reads the latter.</description>
        <name>Set_EndUser_Contact</name>
        <label>Set End User Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_to_agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordLookups>
        <description>Load the routed MessagingSession so we can read its MessagingEndUser link.</description>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessagingEndUserId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Load the MessagingEndUser to read its MessagingPlatformKey (carries the verified subject, e.g. .../AUTH/ChessVerification/uid:player@example.com).</description>
        <name>Get_End_User</name>
        <label>Get End User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Verified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessagingPlatformKey</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the Contact whose email matches the verified subject parsed from the platform key.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Verified_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <description>Only attempt Contact resolution for verified (AUTH) end users; anonymous sessions skip straight to routing.</description>
        <name>Is_Verified</name>
        <label>Is Verified?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Route_to_agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Anonymous</defaultConnectorLabel>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_End_User.MessagingPlatformKey</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>/AUTH/</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only update the end user if a matching Contact was found; otherwise route as-is.</description>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Route_to_agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EndUser_Contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <formulas>
        <description>Raw verified subject extracted from the MessagingPlatformKey, which ends with "uid:&lt;sub&gt;" — e.g. v2/iamessage/AUTH/ChessVerification/uid:player@example.com. May carry a "+r&lt;nonce&gt;" reset tag (see Verified_Email).</description>
        <name>Raw_Subject</name>
        <dataType>String</dataType>
        <expression>MID({!Get_End_User.MessagingPlatformKey}, FIND("uid:", {!Get_End_User.MessagingPlatformKey}) + 4, 255)</expression>
    </formulas>
    <formulas>
        <description>The verified subject canonicalized to the real Contact email by stripping any "+tag" sub-address from the local part. The "New chat" reset mints a JWT with sub = local+r&lt;nonce&gt;@domain so SCRT2 keys it as a NEW conversation (the verified conversation is keyed on the JWT subject); this strips that tag back to local@domain so Get_Contact still matches the real Contact. No "+" → returns the subject unchanged (anonymous UNAUTH uuids have no "@" either, so the AND guard leaves them untouched).</description>
        <name>Verified_Email</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(FIND("+", {!Raw_Subject}) &gt; 0, FIND("@", {!Raw_Subject}) &gt; 0),
    LEFT({!Raw_Subject}, FIND("+", {!Raw_Subject}) - 1) &amp; MID({!Raw_Subject}, FIND("@", {!Raw_Subject}), 255),
    {!Raw_Subject}
)</expression>
    </formulas>
    <sourceTemplate>AiCopilot__LanguageChat</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_messaging_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Chess_FEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Move_Count</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_PGN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Turn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Saves the customer’s locale.</description>
        <name>end_user_language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Saves the unique identifier of the routed conversation. Different channels have different unique identifiers. For example, when conversions are routed from voice calls, the unique identifier is the Voice Call ID.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
