salesforce/force-app/main/default/flows/Chess_Coach_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <label>Chess Coach Routing</label>
    <processType>RoutingFlow</processType>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_FEN</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_PGN</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Turn</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Move_Count</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Chess_Status</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Write_Game_Context</targetReference>
        </connector>
    </start>
    <recordUpdates>
        <name>Write_Game_Context</name>
        <label>Write Game Context</label>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <inputAssignments>
            <field>Chess_FEN__c</field>
            <value><elementReference>Chess_FEN</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_PGN__c</field>
            <value><elementReference>Chess_PGN</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Turn__c</field>
            <value><elementReference>Chess_Turn</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Move_Count__c</field>
            <value><elementReference>Chess_Move_Count</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Chess_Status__c</field>
            <value><elementReference>Chess_Status</elementReference></value>
        </inputAssignments>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <object>MessagingSession</object>
        <connector>
            <targetReference>Route_To_Coach</targetReference>
        </connector>
    </recordUpdates>
    <actionCalls>
        <name>Route_To_Coach</name>
        <label>Route To Coach</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <inputParameters>
            <name>recordId</name>
            <value><elementReference>recordId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value><stringValue>sfdc_livemessage</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value><stringValue>0N9g8000000ytHlCAI</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value><stringValue>sfdc_livemessage</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value><stringValue>Bot</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
            <value><stringValue>0Xxg8000000mw8DCAQ</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
            <value><stringValue>Chess Coach</stringValue></value>
        </inputParameters>
    </actionCalls>
</Flow>
